name: Documentation
on:
  push:
    branches:
      - 'main'
    tags:
      - '**'
  workflow_dispatch:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        required: true
jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ElijahPepe'
    outputs:
      BRANCH_NAME: ${{ steps.env.outputs.BRANCH_NAME }}
      BRANCH_OR_TAG: ${{ steps.env.outputs.BRANCH_OR_TAG }}
      SHA: ${{ steps.env.outputs.SHA }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref || '' }}

      - name: Install Node.js v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Create etc
        run: mkdir -p etc

      - name: Run docs
        run: yarn docs

      - name: Upload api-extractor artifact
        uses: actions/upload-artifact@v3
        with:
          name: api-extractor
          path: api-docs/multiversus.js.api.json

      - name: Set outputs for upload job
        id: env
        run: |
          echo "::set-output name=BRANCH_NAME::${GITHUB_REF_NAME}"
          echo "::set-output name=BRANCH_OR_TAG::${GITHUB_REF_TYPE}"
          echo "::set-output name=SHA::${GITHUB_SHA}"
  upload:
    name: Commit docs
    needs: build
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.event.inputs.ref || needs.build.outputs.BRANCH_NAME }}
      BRANCH_OR_TAG: ${{ needs.build.outputs.BRANCH_OR_TAG }}
      SHA: ${{ needs.build.outputs.SHA }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node.js v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Download api-extractor artifacts
        uses: actions/download-artifact@v3
        with:
          name: api-extractor
          path: api-docs

      - name: Checkout docs
        uses: actions/checkout@v3
        with:
          repository: 'multiversusjs/docs'
          token: ${{ secrets.DOCS_SECRET }}
          path: 'out'

      - name: Move docs
        run: |
          mkdir -p out/multiversus.js
          mv api-docs/multiversus.js.api.json out/multiversus.js/multiversus.js.api.json

      - name: Commit and push
        run: |
          cd out
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "Updating docs for ${BRANCH_OR_TAG} ${BRANCH_NAME}: ${SHA}" || true
          git push
